<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{>header}}
  <div class="content-wrapper">
    <div class="about-page-wrapper">
      <img src="img/me.png">
      <p>Hi, I'm Aman the creator of this tiny weather app. It was created as part of a NodeJS course.</p>
    </div>
  </div>
  {{>footer}}
</body>